@font-face {
  font-family: "Roboto Light";
  src: url("assets/fonts/Urbanist/Urbanist-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Regular";
  src: url("assets/fonts/Urbanist/Urbanist-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("assets/fonts/Urbanist/Urbanist-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("assets/fonts/Urbanist/Urbanist-Bold.ttf") format("truetype");
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::
* :::::::::::::::::::  GENERAL  ::::::::::::::::::: 
* :::::::::::::::::::::::::::::::::::::::::::::::::*/
* {
  font-family: "Roboto Regular";
}

body {
  background-color: rgba(248, 248, 248, 0.3);
  overflow-x: hidden !important;
}

html {
  scroll-behavior: smooth;
}

/* Browser scrollbar */
/* ::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #ccc;
}
::-webkit-scrollbar-thumb {
  background: #0092BC;
}
::-webkit-scrollbar-thumb:hover {
  background: #0092BC;
} */

.regular-bold {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 38px;
  letter-spacing: -0.03em;
  color: #1b2559;
}

.regular-normal {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 45px;
  color: #1B2559;
}

.navbar {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  padding: 0;
}

.navbar-nav {
  position: relative;
  right: 50%;
  transform: translateX(50%);
}

.navbar-nav .nav-item {
  margin-right: 50px !important;
}

.nav-link {
  font-family: "Roboto Medium";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.03em !important;
  color: #1b2559 !important;
}

.active-menu {
  color: #003DA5 !important;
  font-weight: bold !important;
}

.hr-devider {
  border: 1px solid #EAEAEA;
}

.section-padding {
  padding: 50px 0px;
}

.header-text {
  font-family: "Roboto Medium";
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: -0.03em;
  color: rgba(0, 61, 165, 0.7);
}

.header-text-black {
  font-family: "Roboto Medium";
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: -0.03em;
  color: #1B2559;
}

.subheader-text {
  font-family: "Roboto Medium";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 68px;
  letter-spacing: -0.03em;
  color: rgba(0, 61, 165, 0.7);
}

/* Other pages */
.header2 {
  background-image: url("assets/images/landing-image2.png");
  background-size: cover;
  height: calc(25vh);
  position: relative;
  /* background-attachment: fixed; */
}

.overlay {
  background: rgba(18, 24, 55, 0.65);
  width: 100%;
  height: 100%;
}

.header2 .inner_text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #000;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.header2 .inner_text h1 {
  font-family: "Roboto Bold";
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 84px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #ffffff;
}

/* Footer style */
.footer-row-1 {
  background-color: rgba(0, 61, 165, 0.7);
  padding: 40px 0px !important;
}

.footer-row-1 .row .col-6:nth-child(2) {
  padding-left: 50px;
}

.footer-row-1 .row .col-6:nth-child(3) {
  padding-left: 80px;
}

.footer-row-1 .row .col-6:nth-child(4) {
  text-align: center;
  padding-left: 100px;
}

.footer-row-1 .row .col-6:nth-child(4) ul {
  padding-left: 100px;
}

.footer-row-2 {
  background-color: #003DA5;
  padding: 40px 0px !important;
}

.footer-row-2 .container .row .col-sm-12:nth-child(2) {
  border-left: 1px solid rgba(243, 243, 243, 0.3);
  border-right: 1px solid rgba(243, 243, 243, 0.3);
}

.footer-row-2 .container .row .col-sm-12:nth-child(3) {
  text-align: right;
}

.footer-row-2 .container .row .col-sm-12:nth-child(1) .d-flex {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.footer-row-2 .container .row .col-sm-12:nth-child(2) .d-flex {
  width: 45%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.footer-row-2 .container .row .col-sm-12:nth-child(3) div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.footer-row-2 .container .row .col-sm-12:nth-child(3) div a {
  margin-left: 10px;
  border: 1px solid rgba(176, 183, 195, 0.18);
  border-radius: 50%;
  padding: 12px;
}

.footer-row-2 .container .row .col-sm-12 .d-flex .flex-item {
  margin-right: 20px;
}

.footer-row-2 .container .row .col-sm-12:nth-child(1) .d-flex .flex-item img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.footer-row-2 .container .row .col-sm-12:nth-child(2) .d-flex .flex-item img {
  position: relative;
  top: 50%;
  transform: translateY(-60%);
  width: 30px;
}

.footer-row-2 .container .row .col-sm-12 .d-flex .flex-item:last-child {
  color: #fff;
  font-size: 23px;
}

.footer-row-3 {
  background-color: #0092BC;
}

.footer-row-3 .container .row .col-sm-12 ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.footer-row-3 .container .row .col-sm-12:last-child ul {
  float: right;
}

.footer-row-3 .container .row .col-sm-12:last-child ul li {
  display: inline;
  padding-right: 90px;
}

.footer-row-3 .container .row .col-sm-12:last-child ul li:last-child {
  padding-right: 0px;
}

.footer ul li {
  list-style-type: none;
}

.footer ul li a {
  text-decoration: none;
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 46px;
  color: #FFFFFF;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::
* :::::::::::::::::::  HOME PAGE  ::::::::::::::::: 
* :::::::::::::::::::::::::::::::::::::::::::::::::*/

.search_card_container span:first-child {
  margin-right: 30px;
}

.search_card_container span {
  border-radius: 50%;
  background-color: #0091BE;
}

.merkliste-dropdown {
  width: 330px;
  position: absolute;
  top: 75px;
  right: -18px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(176, 183, 195, 0.1);
}

.merkliste-dropdown-container {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.merkliste-dropdown-header {
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #1B2559;
}

.merkliste-dropdown-header-number {
  float: right;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 29px;
  color: #8A94A6;
}

.wishlist-image-dropdownn {
  width: 50px !important;
  margin-bottom: 0px !important;
  border-radius: 5px;
}

.wishlist-item-dropdown {
  background: #FAFBFC;
  border-radius: 15px;
  padding: 2px 10px;
  width: 100%;
  padding-bottom: 0px !important;
}

.wishlist-item-dropdown:first-child {
  margin-top: 0px !important;
}

.view-more-merkliste {
  border: none;
  background: #5088C7;
  border-radius: 5px;
  color: #fff;
  padding: 8px 0px;
  width: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.category-name-merkliste {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  /* line-height: 29px; */
  color: #1B2559;
  margin-bottom: 0px !important;
}

.color-number-merkliste {
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  /* line-height: 29px; */
  text-transform: capitalize;
  color: rgba(0, 61, 165, 0.7);
  margin-top: 0px !important;
}

.remove-image-wishlist {
  background-color: transparent !important;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #fff;
  position: absolute;
  right: 15px;
  top: -6px;
}

.header {
  position: relative;
  width: 100%;
  height: 850px;
  background-image: url("assets/images/new/landing_image.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: left top;
}

.overlay {
  background: rgba(18, 24, 55, 0.65);
  width: 100%;
  height: 100%;
}

.inner_text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #000;
  transform: translate(-50%, -50%);
  width: 65%;
  text-align: center;
}

.inner_text h1 {
  font-family: "Roboto Bold";
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 84px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.inner_text p {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 34px;
  width: 60%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #dbe1ea;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 0px !important;
}

.inner_text button {
  background: #4570B8;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 17px;
  border: none;
}

.bottm-arrow-icon {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.discover-section .container .row .col-sm-12:last-child a {
  text-decoration: none;
}

.discover-section .container .row .col-sm-12:last-child {
  text-align: end;
  justify-content: center;
  vertical-align: middle;
}

.discover-section .container .row .col-sm-12:last-child span {
  position: relative;
  top: 40%;
  transform: translateY(100%);
}

.discover-section .container .row .col-sm-12:last-child span:first-child {
  font-family: "Roboto Medium";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #121837;
  padding-right: 40px;
}

.discover-section .container .row .col-sm-12:last-child span:first-child span {
  position: unset;
  font-family: "Roboto Regular";
}

.discover-section .container .row .col-sm-12:last-child span:last-child img {
  padding-right: 30px;
}

.discover-section .container h4 {
  border: 1px solid #f3f3f3;
}

#landing-search-form {
  position: relative;
  top: 34%;
  outline: none !important;
}

#landing-search-form>div {
  border-bottom: 1px solid rgba(0, 61, 165, 0.7);
  vertical-align: middle;
}

#landing-search-form>div input {
  border: none;
  padding: 5px;
  color: #1B2559;
  background-color: transparent !important;
}

#landing-search-form>div .input-group-text {
  background-color: transparent !important;
  border: none;
  padding: 8px;
}

.owl-carousel {
  padding-top: 20px;
}

.owl-carousel .card {
  border: 1px solid #f3f3f3;
}

.owl-carousel .card-title {
  font-family: "Roboto Medium";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #1B2559;
}

.owl-carousel .card-text {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  color: #4E5D78;
}

.leaders-left-container {
  padding-right: 20px;
}

.leaders-right-container {
  padding-left: 20px;
  padding-right: 5px;
}

.leaders-right-container .header-text {
  width: 70%;
}

.hr-title {
  width: 50px;
  border-bottom: 1px solid #0061ae !important;
  display: inline-block;
  margin-bottom: 4px;
}

.who-are-markisentuch {
  font-family: "Roboto Medium";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.03em;
  color: #1B2559;
  padding-left: 15px;
}

.leaders-left-right-image {
  padding: 30px;
  padding-left: 0px;
}

.leaders-right-imagee {
  padding-right: 0px;
  width: 100%;
}

.leaders-right-imageee {
  width: 95%;
}

.leaders-right-description {
  font-family: "Roboto Medium";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: -0.03em;
  color: #1B2559 !important;
}

.leaders-right-about-button {
  background: #0061ae;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  padding: 10px 40px;
  color: #fff;
}

.leaders-right-about-button img {
  padding-left: 20px;
}

.header-line {
  border: 1px solid #f3f3f3;
}

.produkte, .sonderkonfektion, .couponservice {
  position: relative;
}

.sonderkonfektion img {
  float: right;
}

.box {
  width: 48%;
}

.top-right {
  position: absolute;
  top: 50%;
  right: -7%;
  transform: translateY(-53%);
  border-top: 4px solid #0060AD;
  padding: 20px 40px;
}

.top-right h1, .top-left h1 {
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 60px;
  color: rgba(0, 61, 165, 0.7);
}

.top-right p, .top-left p {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
  color: #1B2559;
}

.top-left {
  position: absolute;
  top: 50%;
  left: -7%;
  transform: translateY(-53%);
  border-top: 4px solid #0060AD;
  padding: 20px 40px;
}

.top-left p {
  line-height: 46px;
}

.couponservice .box p>span {
  line-height: 50px;
}

.couponservice .box p {
  line-height: 40px;
}


/* ::::::::::::::::::::::::::::::::::::::::::::::::
* :::::::::::::::::::  AGB PAGE  ::::::::::::::::::
* :::::::::::::::::::::::::::::::::::::::::::::::::*/

.agb-header {
  font-size: 45px;
  color: #1B2559;
  letter-spacing: unset;
  font-family: 'Roboto Light';
}

.agb-download-button {
  padding: 10px 100px !important;
  color: #fff !important;
  background-color: #5088C7;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::
* :::::::::::::::  DATENSCHUTZ PAGE  ::::::::::::::
* :::::::::::::::::::::::::::::::::::::::::::::::::*/

.datenschutz .container {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 40px;
  color: #1B2559;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -ms-word-break: break-all;
  word-break: break-all;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::
* :::::::::::::::::  DSGVO PAGE  ::::::::::::::::::
* :::::::::::::::::::::::::::::::::::::::::::::::::*/

.dsgvo .container {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 40px;
  color: #1B2559;
}

.dsgvo .container .row .col-sm-12 .dsgvo-box {
  background-color: #fff;
  box-shadow: 0px 5px 15px rgba(176, 183, 195, 0.1);
  border-radius: 5px;
}

.dsgvo .container .row .col-sm-12 .dsgvo-box p a {
  text-decoration: none;
  color: #5088C7;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::
* :::::::::::::::::::  FAQ PAGE  ::::::::::::::::::
* :::::::::::::::::::::::::::::::::::::::::::::::::*/

.pikepyetje-container {
  margin-top: 15px;
}

.faq-icon {
  position: relative;
  top: 50%;
  transform: translateY(-15%);
  width: 38px;
  margin-right: 25px;
}

.pikepyetje-container h1 {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(10%);
}

.under-header .right-text {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 38px;
  letter-spacing: -0.03em;
  color: #1B2559;
  width: 90%;
}

.questions {
  width: 100%;
}

.questions div.active {
  border: 1px solid #0091BE;
  box-sizing: border-box;
  box-shadow: 0px 12px 23px rgba(0, 145, 190, 0.06);
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}

.questions div {
  padding-left: 20px;
}

.questions div:hover {
  cursor: pointer;
}

.questions div p {
  width: 100%;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: -0.03em;
  color: #1b2559;
}

.questions div p span {
  color: #5088C7;
}

.answer div {
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(176, 183, 195, 0.1);
  border-radius: 5px;
  padding: 30px 20px 20px 30px;
  width: 100%;
}

.answer h2 {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: #1B2559;
}

.answer h2 span {
  color: #5088C7;
}

.answer p {
  width: 100%;
  padding-top: 20px;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 55px;
  letter-spacing: -0.03em;
  color: #1B2559;
  opacity: 0.8;
  padding-right: 30px;
}

.answer p span {
  display: block;
  color: #0060ad;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::
* :::::::::::::  IMPRESSUM PAGE  ::::::::::::::::::
* :::::::::::::::::::::::::::::::::::::::::::::::::*/

.impressum .container {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 40px;
  color: #1B2559;
}


/* ::::::::::::::::::::::::::::::::::::::::::::::::
* ::::::::::::::::  DESSINS PAGE  :::::::::::::::::
* :::::::::::::::::::::::::::::::::::::::::::::::::*/

.dessins-inner-text {
  width: 100% !important;
}

.dessins-inner-text p:first-child {
  font-size: 17px;
  line-height: 0px;
  font-family: 'Roboto Regular';
  letter-spacing: 1px;
}

.dessins-inner-text p:last-child {
  font-family: 'Roboto Regular';
  color: #fff;
  font-weight: 900;
  line-height: 22px;
  font-size: 18px;
  letter-spacing: 1px;
}

.colors-search-form {
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
  border-radius: 10px;
  padding-bottom: 0px;
}

.dessins-number {
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #1B2559;
}

.add-to-merkliste-button {
  float: right;
  border: none;
  background-color: transparent;
  border: 1px solid #B0B7C3;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.selected-dessin-category {
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #003DA5;
}

.selected-dessin-number {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 29px;
  color: #003DA5;
  opacity: 0.7;
  display: inline-block;
  padding-top: 10px;
}

.selected-color-wishlist-button {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  border: 1px solid #B0B7C3;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.download-header {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 19px;
  color: #1B2559;
}

.download-all-link {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 19px;
  text-align: right;
  color: #5088C7;
  text-decoration: none;
  float: right;
}

.dessins-file {
  font-size: 16px;
  line-height: 19px;
  color: #1B2559;
  padding-bottom: 10px;
}

.dessins-file img {
  display: inline-block;
}

.dessins-file a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;
  color: #1B2559;
  text-decoration: none;
  padding-left: 10px;
}

.dessins-file span {
  color: #B0B7C3;
}

.merkelisted {
  background-color: #0092BC;
}

.big-image-container {
  position: relative;
}

.front-image {
  position: absolute;
  left: 40px;
  bottom: -5%;
  border: 6px solid #fff;
  border-radius: 5px;
  width: 87px;
  box-shadow: 0px 5px 22px rgba(176, 183, 195, 0.05);
}

.back-image {
  position: absolute;
  left: 140px;
  bottom: -5%;
  border: 6px solid #fff;
  border-radius: 5px;
  width: 87px;
  box-shadow: 0px 5px 22px rgba(176, 183, 195, 0.05);
}

.number-of-colors {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  color: #1b2559;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.number-of-colors span {
  color: #0060ad;
}

.colors-search-form {
  float: right;
  width: 75%;
}

.colors-search-form input {
  border: none;
  padding: 8px 15px;
}

.colors-search-form button {
  border: none;
  padding: 12px 15px;
}

.small-color-card:hover {
  cursor: pointer;
}

.active-color {
  border: 3px solid #0060ad;
  padding: 1px;
}

.filter-box {
  display: flex;
  border-bottom: 1px solid #F3F3F3;
}

.filter-box div {
  padding: 10px 25px;
}

.filter-box div a {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  color: #1B2559;
  text-decoration: none;
}

.filter-box div.active {
  border-bottom: 2px solid #0060ad;
}

.filter-box div.active a {
  color: #0060ad !important;
}

/* Dropdown */
.acryl-dropdown, .soltis-dropdown {
  width: 50px !important;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(176, 183, 195, 0.1);
  border: 0px;
  border-radius: 5px;
  left: 0px;
  top: 59px;
  position: absolute;
}

.acryl-dropdown .dropdown-item, .soltis-dropdown .dropdown-item {
  padding: 9px 13px;
  display: flex;
  align-items: center;
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #1b2559;
  cursor: pointer;
}

.acryl-dropdown .dropdown-item:hover, .soltis-dropdown .dropdown-item:hover {
  background: rgba(24, 174, 227, 0.07);
  color: #18aee3;
}

.dropdown-acryl-btn::after, .dropdown-soltis-btn::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown-acryl-btn:focus, .dropdown-soltis-btn:focus {
  outline: 0;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::
* :::::::::::::::  KONTAKT PAGE  ::::::::::::::::::
* :::::::::::::::::::::::::::::::::::::::::::::::::*/

.kontakt-subheader {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: 300;
  font-size: 27px;
  line-height: 32px;
  letter-spacing: -0.03em;
  color: #1B2559;
}

.kontakt-text-container p {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 35px;
  color: #1B2559;
  padding-top: 10px;
}

.kontakt-text-container p span {
  color: #0060ad;
}

.contact-box {
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(176, 183, 195, 0.1);
  border-radius: 5px;
  padding: 15px 15px;
  margin-top: 20px;
}

.contact-box div {
  padding: 15px 0px;
  border-bottom: 1px solid rgba(176, 183, 195, 0.08);
}

.contact-box div .email-text {
  font-size: 15px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -ms-word-break: break-all;
  word-break: break-all;
}

.contact-box div img {
  margin-right: 10px;
}

.contact-box div span {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 110%;
  color: #1b2559;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::
* :::::::::::::::  UBER_UNS PAGE  :::::::::::::::::
* :::::::::::::::::::::::::::::::::::::::::::::::::*/
.uberuns-hr-title {
  margin-bottom: 15px;
}

.header-text-uberuns {
  padding-left: 10px;
}

.uber_uns-text-container p {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 38px;
  letter-spacing: -0.03em;
  color: #1B2559;
}

.uber_uns-upperimage-text {
  font-size: 18px;
}

.uber_uns-underimage-text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
  color: #1B2559;
  width: 90% !important;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::
* :::::::::  VERSTARKUNG_GESUCHT PAGE  ::::::::::::
* :::::::::::::::::::::::::::::::::::::::::::::::::*/

.verstarkung_gesucht .container {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 40px;
  color: #1B2559;
}

.video-section video {
  width: 100%;
  height: 400px;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::
* :::::::::::::::  MERKLISTE PAGE  ::::::::::::::::
* :::::::::::::::::::::::::::::::::::::::::::::::::*/
.merkliste-header {
  font-family: 'Roboto Light';
}

.merkliste-produkte-number {
  float: right;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  text-align: right;
  color: #1B2559;
}

.merkliste-produkte-number span {
  color: #0060AD;
  font-weight: bold;
}

.wishlist-item {
  margin-right: 40px;
  margin-top: 20px;
  border-bottom: 1px solid #EAEAEA;
  padding-bottom: 10px;
}

.wishlist-item .color-description {
  display: inline-block;
  padding: 10px 20px;
}

.wishlist-item img {
  width: 140px;
  position: relative;
  top: 50%;
  transform: translateY(-20%);
}

.wishlist-item .remove-wishlist-item {
  float: right;
}

.wishlist-item .color-description .category-name {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #1B2559;
}

.wishlist-item .color-description .color-number {
  font-family: "Roboto Medium";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 29px;
  text-transform: capitalize;
  color: rgba(0, 61, 165, 0.7);
}

@media only screen and (min-width: 1441px) {

  /*:::::::::::::::::::::::::::::::::::::::::::::::::
  * ::::::::::::::::::  HOME PAGE  ::::::::::::::::::
  * :::::::::::::::::::::::::::::::::::::::::::::::::*/

}

@media only screen and (min-width: 1600px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1620px;
  }
}

@media only screen and (max-width: 1440px) {

  /* ::::::::::::::::::::::::::::::::::::::::::::::::
  * ::::::::::::::::  DESSINS PAGE  :::::::::::::::::
  * :::::::::::::::::::::::::::::::::::::::::::::::::*/

  .dessins-header2 {
    height: 45vh !important;
  }

  .dsgvo .container .row .col-sm-12 .dsgvo-box p a {
    text-decoration: none;
    color: #5088C7;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -ms-word-break: break-all;
    word-break: break-all;
  }

  .merkliste-produkte-number {
    float: right !important;
    /* font-size: 24px; */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

}

@media only screen and (max-width: 1024px) {

  .navbar-brand img {
    width: 80%;
  }

  .navbar-nav {
    transform: translateX(40%) !important;
  }

  .navbar-nav {
    margin-bottom: 0px !important;
  }

  .navbar-nav .nav-item {
    margin-right: 25px !important;
  }

  .navbar-nav .nav-link {
    font-size: 14px;
  }

  .search_card_container .dropdown {
    padding-bottom: 0px !important;
  }

  .header {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: calc(55vh);
  }

  .container {
    padding: 0px 50px !important;
    max-width: 1023px !important;
  }

  .inner_text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #000;
    transform: translate(-50%, -50%);
    width: 85%;
    text-align: center;
  }

  .inner_text h1 {
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #ffffff;
  }

  .inner_text p {
    font-size: 14px;
    line-height: 22px;
    width: 90%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #dbe1ea;
    position: relative;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    padding: 10px 0px !important;
  }

  .inner_text button {
    background: #0061ae !important;
    border-radius: 5px !important;
    padding: 8px 20px;
    font-size: 14px;
  }

  .bottm-arrow-icon {
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 12px;
    transform: translateX(-50%);
  }


  .produkte, .sonderkonfektion, .couponservice {
    padding-bottom: 0px !important;
    background-color: rgba(248, 248, 248, 0.3) !important;
  }

  /* .produkte img, .sonderkonfektion img, .couponservice img {
    margin: 0px 10px !important;
  } */

  .sonderkonfektion img {
    float: left !important;
  }

  .produkte .box, .sonderkonfektion .box, .couponservice .box {
    position: unset;
    width: 100%;
    transform: unset;
    top: unset;
    right: unset;
    padding: 20px 0px !important;
    /* margin: 0px 10px !important; */
    background-color: rgba(248, 248, 248, 0.3) !important;
  }

  .couponservice .box {
    padding: 0px !important;
  }

  .produkte .box h1, .sonderkonfektion .box h1, .couponservice .box h1 {
    font-size: 40px !important;
    line-height: 38px !important;
    letter-spacing: -0.03em !important;
  }

  .produkte .box p, .sonderkonfektion .box p, .couponservice .box p {
    font-size: unset !important;
    line-height: unset !important;
    letter-spacing: unset !important;
  }

  .header-text {
    font-size: 40px !important;
    line-height: 44px !important;
    letter-spacing: -0.03em !important;
  }

  .subheader-text {
    font-size: 38px !important;
    line-height: 38px !important;
    letter-spacing: -0.03em !important;
  }

  .owl-carousel {
    padding-left: 0px !important;
    padding-top: 20px !important;
  }

  .owl-carousel .card-title {
    font-size: 24px !important;
    line-height: 26px !important;
  }

  .owl-carousel .card-text {
    font-size: 14px !important;
    line-height: 19px !important;
  }

  .leaders-section {
    padding: 0px !important;
  }

  .leaders-left-container {
    padding-right: 0px !important;
  }

  .leaders-right-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .leaders-right-container .header-text {
    width: 100%;
  }

  .hr-title {
    width: 30px;
    display: inline-block;
    margin-bottom: 4px;
  }

  .who-are-markisentuch {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.03em;
    padding-left: 15px;
  }

  .leaders-left-right-image {
    padding: 20px 0px;
    width: 100%;
  }

  .leaders-right-description {
    font-size: unset;
    line-height: unset;
    letter-spacing: unset;
  }

  .leaders-right-about-button {
    border-radius: 5px;
    border: none;
    padding: 5px 30px;
  }

  .leaders-right-about-button img {
    padding-left: 20px;
  }

  .retractable-awnings .row-1-right .leaders-right-container {
    margin-top: 265px;
  }

  .retractable-awnings .retractable-awnings-left-container p {
    font-size: 24px;
    line-height: 44px;
  }

  .retractable-awnings .row-2-right {
    margin-top: -45px;
  }

  .retractable-awnings .row-2-right-p {
    font-size: 24px;
    line-height: 44px;
    letter-spacing: -0.03em;
    padding-left: 0px;
  }

  .retractable-awnings .row-2-right p {
    margin-left: 0px !important;
  }

  .retractable-awnings .row-2-left img {
    margin-bottom: 10px;
    width: 100% !important;
  }

  .retractable-awnings .row-2-right .leaders-right-container {
    padding: 0px;
    margin: 0px;
  }

  .retractable-awnings .last-row h3 {
    font-size: 26px;
    line-height: 34px;
    letter-spacing: -0.03em;
  }

  .retractable-awnings .last-row button {
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: 20px;
  }

  .filter-box {
    overflow-x: scroll;
    flex-wrap: nowrap;
  }

  .filter-box div {
    flex: 0 0 auto;
  }

  .colors-search-form {
    float: none;
    width: 100%;
  }

  .footer-row-1 .row .col-6 ul li a {
    font-size: unset !important;
  }

  .footer-row-1 .row .col-6:nth-child(2) {
    padding-left: 0px !important;
  }

  .footer-row-1 .row .col-6:nth-child(2) ul {
    padding-left: 0px !important;
    margin-left: 30px;
  }

  .footer-row-1 .row .col-6:nth-child(3) {
    padding-left: 0px !important;
    margin-left: 0px !important;
  }

  .footer-row-1 .row .col-6:nth-child(3) ul {
    padding-left: 0px !important;
    margin-left: 0px !important;
  }

  .footer-row-1 .row .col-6:nth-child(4) {
    text-align: start;
    padding-left: 0px;
  }

  .footer-row-1 .row .col-6:nth-child(4) ul {
    padding-left: 0px;
    margin-left: 30px;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(3) {
    text-align: left;
  }

  .footer-row-2 .container .row .col-sm-12 {
    margin-bottom: 20px !important;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(1), .footer-row-2 .container .row .col-sm-12:nth-child(2), .footer-row-2 .container .row .col-sm-12:nth-child(3) {
    padding: 0px 0px !important;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(1) .d-flex {
    position: unset;
    top: unset;
    transform: unset;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(2) {
    border: none !important;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(2) .d-flex {
    width: 100%;
    position: unset;
    left: unset;
    transform: unset;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(3) {
    margin-bottom: 0px !important;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(3) div {
    position: unset;
    top: unset;
    transform: unset;
    margin-top: 20px;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(3) div a {
    margin-left: 5px;
    border: 1px solid rgba(176, 183, 195, 0.18);
    border-radius: 50%;
    padding: 10px;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(3) div a:first-child {
    margin-left: 0px;
  }

  .footer-row-2 .container .row .col-sm-12 .d-flex .flex-item {
    margin-right: 10px;
    font-size: unset !important;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(1) .d-flex .flex-item img {
    position: unset;
    top: unset;
    transform: unset;
    width: 80% !important;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(2) .d-flex .flex-item img {
    position: unset;
    top: unset;
    transform: unset;
    width: 80% !important;
  }

  .footer-row-2 .container .row .col-sm-12 .d-flex .flex-item:last-child {
    color: #fff;
    font-size: unset;
  }

  .footer-row-3 .container .row .col-sm-12 {
    padding-left: 0px !important;
    margin-left: 0px !important;
  }

  .footer-row-3 .container .row .col-sm-12 ul {
    position: unset;
    top: unset;
    transform: unset;
  }

  .footer-row-3 .container .row .col-sm-12:last-child ul {
    float: unset;
    margin-left: 0px !important;
    padding-left: 0px !important;
  }

  .footer-row-3 .container .row .col-sm-12:last-child ul li {
    display: inline;
    padding-right: 5%;
  }

  .footer-row-3 .container .row .col-sm-12:last-child ul li:last-child {
    padding-right: 0px !important;
  }

  .footer ul li a {
    font-size: unset;
  }

  /* ::::::::::::::::::::::::::::::::::::::::::::::::
  * :::::::::::::::::::  AGB PAGE  ::::::::::::::::::
  * :::::::::::::::::::::::::::::::::::::::::::::::::*/

  .agb-download-button {
    padding: 10px 100px !important;
  }

  .agb-who-is-markisentuch {
    padding-top: 20px !important;
  }

  /* ::::::::::::::::::::::::::::::::::::::::::::::::
  * ::::::::::::::::  DESSINS PAGE  :::::::::::::::::
  * :::::::::::::::::::::::::::::::::::::::::::::::::*/

  .dessins-header2 {
    height: 45vh !important;
  }

  .dsgvo .container .row .col-sm-12 .dsgvo-box p a {
    text-decoration: none;
    color: #5088C7;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -ms-word-break: break-all;
    word-break: break-all;
  }

  .video-section video {
    width: 100%;
    height: 300px;
    margin-top: 20px;
  }

  .merkliste-produkte-number {
    float: right !important;
    font-size: 24px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .wishlist-item {
    margin-right: 0px;
  }

  .uberuns-hr-title {
    margin-bottom: 10px;
  }

  .header-text-uberuns {
    padding-left: 10px;
  }

  .uber_uns-underimage-text {
    width: 100% !important;
  }

  .div-no-padding-mobile {
    padding: 0px !important;
  }

  .about_2_image {
    width: 100% !important;
  }
   /* ::::::::::::::::::::::::::::::::::::::::::::::::
  * :::::::::::::::::::  FAQ PAGE  ::::::::::::::::::
  * :::::::::::::::::::::::::::::::::::::::::::::::::*/

  .pikepyetje-container {
    margin-top: 15px;
  }

  .faq-icon {
    position: relative;
    top: 50%;
    transform: translateY(-30%);
    width: 25px !important;
    margin-right: 15px;
    width: 40px;
  }

  .pikepyetje-container h1 {
    display: unset !important;
    position: relative;
    top: 50%;
    transform: translateY(10%);
    font-size: 40px;
  }
  .pikepyetje-container h1 span{
    font-size: 40px !important;
  }
}

@media only screen and (max-width: 767px) {

  .navbar-nav {
    margin-bottom: 10px !important;
    transform: translateX(50%) !important;
  }

  .search_card_container .dropdown {
    padding-bottom: 20px !important;
  }

  .merkliste-dropdown {
    width: 330px;
    position: absolute;
    top: 55px;
    left: 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(176, 183, 195, 0.1);
  }

  .arrow-up {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
    position: absolute;
    left: 15px;
    top: -6px;
  }

  .header {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: calc(55vh);
  }

  .container {
    padding: 0px 10px !important;
    max-width: 768px;
  }

  .inner_text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #000;
    transform: translate(-50%, -50%);
    width: 75%;
    text-align: center;
  }

  .inner_text h1 {
    font-size: 48px;
    line-height: 45px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #ffffff;
  }

  .inner_text p {
    font-size: 18px;
    line-height: 22px;
    width: 90%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #dbe1ea;
    position: relative;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    padding: 10px 0px !important;
  }

  .inner_text button {
    background: #0061ae !important;
    border-radius: 5px !important;
    padding: 10px 25px;
    font-size: 18px;
  }

  .bottm-arrow-icon {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }

  .produkte, .sonderkonfektion, .couponservice {
    padding-bottom: 0px !important;
  }

  .sonderkonfektion img {
    float: unset;
  }

  .produkte .box, .sonderkonfektion .box, .couponservice .box {
    position: unset;
    width: 100%;
    transform: unset;
    top: unset;
    right: unset;
    padding: 20px 0px !important;
  }

  .couponservice .box {
    padding: 0px !important;
  }

  .produkte .box h1, .sonderkonfektion .box h1, .couponservice .box h1 {
    font-size: 40px !important;
    line-height: 38px !important;
    letter-spacing: -0.03em !important;
  }

  .produkte .box p, .sonderkonfektion .box p, .couponservice .box p {
    font-size: unset !important;
    line-height: unset !important;
    letter-spacing: unset !important;
  }

  .header-text {
    font-size: 40px !important;
    line-height: 44px !important;
    letter-spacing: -0.03em !important;
  }

  .subheader-text {
    font-size: 38px !important;
    line-height: 38px !important;
    letter-spacing: -0.03em !important;
  }

  .owl-carousel {
    padding-left: 0px !important;
    padding-top: 20px !important;
  }

  .owl-carousel .card-title {
    font-size: 22px !important;
    line-height: 26px !important;
  }

  .owl-carousel .card-text {
    font-size: 12px !important;
    line-height: 19px !important;
  }

  .leaders-section {
    padding: 0px !important;
  }

  .leaders-left-container {
    padding-right: 0px !important;
  }

  .leaders-right-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .leaders-right-container .header-text {
    width: 100%;
  }

  .hr-title {
    width: 30px;
    display: inline-block;
    margin-bottom: 4px;
  }

  .who-are-markisentuch {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.03em;
    padding-left: 15px;
  }

  .leaders-left-right-image {
    padding: 20px 0px;
    width: 100%;
  }

  .leaders-right-description {
    font-size: unset;
    line-height: unset;
    letter-spacing: unset;
  }

  .leaders-right-about-button {
    border-radius: 5px;
    border: none;
    padding: 5px 30px;
  }

  .leaders-right-about-button img {
    padding-left: 20px;
  }

  .retractable-awnings .row-1-right .leaders-right-container {
    margin-top: 265px;
  }

  .retractable-awnings .retractable-awnings-left-container p {
    font-size: unset;
    line-height: unset;
  }

  .retractable-awnings .row-2-right {
    margin-top: -45px;
  }

  .retractable-awnings .row-2-right-p {
    font-size: 24px;
    line-height: 44px;
    letter-spacing: -0.03em;
    padding-left: 0px;
  }

  .retractable-awnings .row-2-right p {
    margin-left: 0px !important;
  }

  .retractable-awnings .row-2-left img {
    margin-bottom: 10px;
    width: 100% !important;
  }

  .retractable-awnings .row-2-right .leaders-right-container {
    padding: 0px;
    margin: 0px;
  }

  .retractable-awnings .last-row h3 {
    font-size: 26px;
    line-height: 34px;
    letter-spacing: -0.03em;
  }

  .retractable-awnings .last-row button {
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: 20px;
  }

  .filter-box {
    overflow-x: scroll;
    flex-wrap: nowrap;
  }

  .filter-box div {
    flex: 0 0 auto;
  }

  .colors-search-form {
    float: none;
    width: 100%;
  }

  .footer-row-1 .row .col-6:nth-child(1) {
    padding: 0px 0px !important;
  }

  .footer-row-1 .row .col-6 ul li a {
    font-size: 20px !important;
  }

  .footer-row-1 .row .col-6:nth-child(2) {
    padding-left: 0px !important;
  }

  .footer-row-1 .row .col-6:nth-child(2) ul {
    padding-left: 0px !important;
    margin-left: 30px;
  }

  .footer-row-1 .row .col-6:nth-child(3) {
    padding-left: 0px !important;
    margin-left: 0px !important;
  }

  .footer-row-1 .row .col-6:nth-child(3) ul {
    padding-left: 0px !important;
    margin-left: 0px !important;
  }

  .footer-row-1 .row .col-6:nth-child(4) {
    text-align: start;
    padding-left: 0px;
  }

  .footer-row-1 .row .col-6:nth-child(4) ul {
    padding-left: 0px;
    margin-left: 30px;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(3) {
    text-align: left;
  }

  .footer-row-2 .container .row .col-sm-12 {
    margin-bottom: 20px !important;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(1), .footer-row-2 .container .row .col-sm-12:nth-child(2), .footer-row-2 .container .row .col-sm-12:nth-child(3) {
    padding: 0px 0px !important;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(1) .d-flex {
    position: unset;
    top: unset;
    transform: unset;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(2) {
    border: none !important;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(2) .d-flex {
    width: 100%;
    position: unset;
    left: unset;
    transform: unset;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(3) {
    margin-bottom: 0px !important;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(3) div {
    position: unset;
    top: unset;
    transform: unset;
    margin-top: 20px;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(3) div a {
    margin-left: 10px;
    border: 1px solid rgba(176, 183, 195, 0.18);
    border-radius: 50%;
    padding: 12px;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(3) div a:first-child {
    margin-left: 0px;
  }

  .footer-row-2 .container .row .col-sm-12 .d-flex .flex-item {
    margin-right: 10px;
    font-size: 20px !important;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(1) .d-flex .flex-item img {
    position: unset;
    top: unset;
    transform: unset;
    width: 80% !important;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(2) .d-flex .flex-item img {
    position: unset;
    top: unset;
    transform: unset;
    width: 80% !important;
  }

  .footer-row-2 .container .row .col-sm-12 .d-flex .flex-item:last-child {
    color: #fff;
    font-size: 20px;
  }

  .footer-row-3 .container {
    padding: 0px 10px !important;
  }

  .footer-row-3 .container .row .col-sm-12 {
    padding-left: 0px !important;
    margin-left: 0px !important;
  }

  .footer-row-3 .container .row .col-sm-12 ul {
    position: unset;
    top: unset;
    transform: unset;
  }

  .footer-row-3 .container .row .col-sm-12:last-child ul {
    float: unset;
    margin-left: 0px !important;
    padding-left: 0px !important;
  }

  .footer-row-3 .container .row .col-sm-12:last-child ul li {
    display: inline;
    padding-right: 5%;
  }

  .footer-row-3 .container .row .col-sm-12:last-child ul li:last-child {
    padding-right: 0px !important;
  }

  .footer ul li a {
    font-size: 20px;
  }

  /* ::::::::::::::::::::::::::::::::::::::::::::::::
  * :::::::::::::::::::  AGB PAGE  ::::::::::::::::::
  * :::::::::::::::::::::::::::::::::::::::::::::::::*/

  .agb-download-button {
    padding: 7px 100px !important;
  }

  .agb-who-is-markisentuch {
    padding-top: 20px !important;
  }

  .dsgvo .container .row .col-sm-12 .dsgvo-box p a {
    text-decoration: none;
    color: #5088C7;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -ms-word-break: break-all;
    word-break: break-all;
  }

  .video-section video {
    width: 100%;
    height: 200px;
    margin-top: 20px;
  }

  .merkliste-produkte-number {
    float: right !important;
    font-size: 24px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .wishlist-item {
    margin-right: 0px;
  }

  .uberuns-hr-title {
    margin-bottom: 10px;
  }

  .header-text-uberuns {
    padding-left: 10px;
  }

  .uber_uns-underimage-text {
    width: 100% !important;
  }

  .div-no-padding-mobile {
    padding: 0px !important;
  }

  .about_2_image {
    width: 100% !important;
  }
   /* ::::::::::::::::::::::::::::::::::::::::::::::::
  * :::::::::::::::::::  FAQ PAGE  ::::::::::::::::::
  * :::::::::::::::::::::::::::::::::::::::::::::::::*/

  .pikepyetje-container {
    margin-top: 15px;
  }

  .faq-icon {
    position: relative;
    top: 50%;
    transform: translateY(-30%);
    width: 25px !important;
    margin-right: 15px;
    width: 40px;
  }

  .pikepyetje-container h1 {
    display: unset !important;
    position: relative;
    top: 50%;
    transform: translateY(10%);
    font-size: 40px;
  }
  .pikepyetje-container h1 span{
    font-size: 40px !important;
  }
}

@media only screen and (max-width: 576px) {
  .navbar-nav {
    margin-bottom: 10px !important;
    transform: translateX(50%) !important;
  }

  .search_card_container .dropdown {
    padding-bottom: 20px !important;
  }

  .merkliste-dropdown {
    width: 330px;
    position: absolute;
    top: 55px;
    left: 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(176, 183, 195, 0.1);
  }

  .arrow-up {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
    position: absolute;
    left: 15px;
    top: -6px;
  }

  .header {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    height: calc(55vh);
  }

  .inner_text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #000;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  .inner_text h1 {
    font-size: 30px !important;
    line-height: 32px !important;
    text-align: center;
    letter-spacing: -0.02em;
    color: #ffffff;
  }

  .inner_text p {
    font-size: 11px !important;
    line-height: 14px !important;
    width: 90%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #dbe1ea;
    position: relative;
    padding: 10px 0px !important;
  }

  .inner_text button {
    background: #0061ae !important;
    border-radius: 5px !important;
    padding: 7px 20px;
    font-size: 14px;
  }

  .bottm-arrow-icon {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }

  .produkte, .sonderkonfektion, .couponservice {
    padding-bottom: 0px !important;
  }

  .sonderkonfektion img {
    float: unset;
  }

  .produkte .box, .sonderkonfektion .box, .couponservice .box {
    position: unset;
    width: 100%;
    transform: unset;
    top: unset;
    right: unset;
    padding: 20px 0px !important;
    /* margin: 0px 10px !important; */
  }

  .couponservice .box {
    padding: 0px !important;
  }

  .produkte .box h1, .sonderkonfektion .box h1, .couponservice .box h1 {
    font-size: 28px !important;
    line-height: 34px !important;
    letter-spacing: -0.03em !important;
  }

  .produkte .box p, .sonderkonfektion .box p, .couponservice .box p {
    font-size: 14px !important;
    line-height: 30px !important;
    letter-spacing: -0.03em !important;
  }

  .header-text {
    font-size: 28px !important;
    line-height: 34px !important;
    letter-spacing: -0.03em !important;
  }

  .subheader-text {
    font-size: 25px !important;
    line-height: 34px !important;
    letter-spacing: -0.03em !important;
  }

  .owl-carousel {
    padding-left: 0px !important;
    padding-top: 20px !important;
  }

  .owl-carousel .card-title {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  .owl-carousel .card-text {
    font-size: 13px !important;
    line-height: 19px !important;
  }

  .leaders-section {
    padding: 0px;
  }

  .leaders-left-container {
    padding-right: 0px;
  }

  .leaders-right-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .leaders-right-container .header-text {
    width: 100%;
  }

  .hr-title {
    width: 30px;
    display: inline-block;
    margin-bottom: 4px;
  }

  .who-are-markisentuch {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.03em;
    padding-left: 15px;
  }

  .leaders-left-right-image {
    padding: 20px 0px;
  }

  .leaders-right-description {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: -0.03em;
  }

  .leaders-right-about-button {
    border-radius: 5px;
    border: none;
    padding: 5px 30px;
  }

  .leaders-right-about-button img {
    padding-left: 20px;
  }

  .retractable-awnings .row-1-right .leaders-right-container {
    margin-top: 265px;
  }

  .retractable-awnings .retractable-awnings-left-container p {
    font-size: 14px;
    line-height: 30px;
  }

  .retractable-awnings .row-2-right {
    margin-top: -45px;
  }

  .retractable-awnings .row-2-right-p {
    font-size: 12px;
    line-height: 30px;
    letter-spacing: -0.03em;
    padding-left: 0px;
  }

  .retractable-awnings .row-2-right p {
    margin-left: 0px !important;
  }

  .retractable-awnings .row-2-left img {
    margin-bottom: 10px;
    width: 100% !important;
  }

  .retractable-awnings .row-2-right .leaders-right-container {
    padding: 0px;
    margin: 0px;
  }

  .retractable-awnings .last-row h3 {
    font-size: 26px;
    line-height: 34px;
    letter-spacing: -0.03em;
  }

  .retractable-awnings .last-row button {
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: 20px;
  }

  .social-media {
    text-align: start;
    margin-bottom: 20px;
  }

  .social-media a {
    border-radius: 50%;
    border: 1px solid rgba(176, 183, 195, 0.18);
    box-sizing: border-box;
    padding: 10px;
    margin-right: 10px;
  }

  .filter-box {
    overflow-x: scroll;
    flex-wrap: nowrap;
  }

  .filter-box div {
    flex: 0 0 auto;
  }

  .colors-search-form {
    float: none;
    width: 100%;
  }

  .footer-row-1 .row .col-6:nth-child(1) {
    padding: 0px 0px !important;
  }

  .footer-row-1 .row .col-6 ul li a {
    font-size: 19px !important;
  }

  .footer-row-1 .row .col-6:nth-child(2) {
    padding-left: 0px !important;
  }

  .footer-row-1 .row .col-6:nth-child(2) ul {
    padding-left: 0px !important;
    margin-left: 30px;
  }

  .footer-row-1 .row .col-6:nth-child(3) {
    padding-left: 0px !important;
    margin-left: 0px !important;
  }

  .footer-row-1 .row .col-6:nth-child(3) ul {
    padding-left: 0px !important;
    margin-left: 0px !important;
  }

  .footer-row-1 .row .col-6:nth-child(4) {
    text-align: start;
    padding-left: 0px;
  }

  .footer-row-1 .row .col-6:nth-child(4) ul {
    padding-left: 0px;
    margin-left: 30px;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(3) {
    text-align: left;
  }

  .footer-row-2 .container .row .col-sm-12 {
    margin-bottom: 20px !important;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(1), .footer-row-2 .container .row .col-sm-12:nth-child(2), .footer-row-2 .container .row .col-sm-12:nth-child(3) {
    padding: 0px 0px !important;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(1) .d-flex {
    position: unset;
    top: unset;
    transform: unset;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(2) {
    border: none !important;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(2) .d-flex {
    width: 100%;
    position: unset;
    left: unset;
    transform: unset;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(3) {
    margin-bottom: 0px !important;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(3) div {
    position: unset;
    top: unset;
    transform: unset;
    margin-top: 20px;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(3) div a {
    margin-left: 5px;
    border: 1px solid rgba(176, 183, 195, 0.18);
    border-radius: 50%;
    padding: 12px;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(3) div a:first-child {
    margin-left: 0px;
  }

  .footer-row-2 .container .row .col-sm-12 .d-flex .flex-item {
    margin-right: 10px;
    font-size: 19px !important;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(1) .d-flex .flex-item img {
    position: unset;
    top: unset;
    transform: unset;
    width: 80% !important;
  }

  .footer-row-2 .container .row .col-sm-12:nth-child(2) .d-flex .flex-item img {
    position: unset;
    top: unset;
    transform: unset;
    width: 80% !important;
  }

  .footer-row-2 .container .row .col-sm-12 .d-flex .flex-item:last-child {
    color: #fff;
    font-size: 23px;
  }

  .footer-row-3 .container .row .col-sm-12 {
    padding-left: 0px !important;
    margin-left: 0px !important;
  }

  .footer-row-3 .container .row .col-sm-12 ul {
    position: unset;
    top: unset;
    transform: unset;
  }

  .footer-row-3 .container .row .col-sm-12:last-child ul {
    float: unset;
    margin-left: 0px !important;
    padding-left: 0px !important;
  }

  .footer-row-3 .container .row .col-sm-12:last-child ul li {
    display: inline;
    padding-right: 5%;
  }

  .footer-row-3 .container .row .col-sm-12:last-child ul li:last-child {
    padding-right: 0px !important;
  }

  .footer ul li a {
    font-size: 19px;
  }

  /* ::::::::::::::::::::::::::::::::::::::::::::::::
  * :::::::::::::::::::  AGB PAGE  ::::::::::::::::::
  * :::::::::::::::::::::::::::::::::::::::::::::::::*/

  .agb-download-button {
    padding: 7px 100px !important;
  }

  .agb-who-is-markisentuch {
    padding-top: 20px !important;
  }

  /* ::::::::::::::::::::::::::::::::::::::::::::::::
  * :::::::::::::::  DATENSCHUTZ PAGE  ::::::::::::::
  * :::::::::::::::::::::::::::::::::::::::::::::::::*/

  .datenschutz .container {
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 19px !important;
    line-height: 40px;
    color: #1B2559;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -ms-word-break: break-all;
    word-break: break-all;
  }

  /* ::::::::::::::::::::::::::::::::::::::::::::::::
  * ::::::::::::::::  DESSINS PAGE  :::::::::::::::::
  * :::::::::::::::::::::::::::::::::::::::::::::::::*/

  .dessins-header2 {
    height: 35vh !important;
  }

  .download-header {
    font-family: 'Roboto Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 19px;
    color: #1B2559;
  }

  .download-all-link {
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    color: #5088C7;
    text-decoration: none;
    float: right;
  }

  .dessins-file {
    font-size: 12px;
    line-height: 19px;
    color: #1B2559;
    padding-bottom: 10px;
  }

  /* ::::::::::::::::::::::::::::::::::::::::::::::::
* :::::::::::::::::  DSGVO PAGE  ::::::::::::::::::
* :::::::::::::::::::::::::::::::::::::::::::::::::*/

  .dsgvo .container {
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 40px;
    color: #1B2559;
  }

  .dsgvo .container .row .col-sm-12 .dsgvo-box {
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(176, 183, 195, 0.1);
    border-radius: 5px;
  }

  .dsgvo .container .row .col-sm-12 .dsgvo-box p a {
    text-decoration: none;
    color: #5088C7;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -ms-word-break: break-all;
    word-break: break-all;
  }

  /* ::::::::::::::::::::::::::::::::::::::::::::::::
* :::::::::::::  IMPRESSUM PAGE  ::::::::::::::::::
* :::::::::::::::::::::::::::::::::::::::::::::::::*/

  .impressum .container {
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 40px;
    color: #1B2559;
  }

  /* ::::::::::::::::::::::::::::::::::::::::::::::::
* :::::::::  VERSTARKUNG_GESUCHT PAGE  ::::::::::::
* :::::::::::::::::::::::::::::::::::::::::::::::::*/

  .verstarkung_gesucht .container {
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 40px;
    color: #1B2559;
  }

  .video-section video {
    width: 100%;
    height: 200px;
    margin-top: 20px;
  }

  /* ::::::::::::::::::::::::::::::::::::::::::::::::
* :::::::::::::::  MERKLISTE PAGE  ::::::::::::::::
* :::::::::::::::::::::::::::::::::::::::::::::::::*/
  .merkliste-header {
    font-size: 40px;
  }

  .merkliste-produkte-number {
    float: right !important;
    font-size: 24px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .wishlist-item {
    margin-right: 0px;
  }

  .uberuns .right-text {
    font-size: 19px !important;
    margin-bottom: 0px !important;
  }

  .questions-section p {
    font-size: 19px !important;
  }

  .uberuns-hr-title {
    margin-bottom: 10px;
  }

  .header-text-uberuns {
    padding-left: 10px;
  }

  .uber_uns-underimage-text {
    width: 100% !important;
  }

  .div-no-padding-mobile {
    padding: 0px !important;
  }

  /* ::::::::::::::::::::::::::::::::::::::::::::::::
  * :::::::::::::::::::  FAQ PAGE  ::::::::::::::::::
  * :::::::::::::::::::::::::::::::::::::::::::::::::*/

  .pikepyetje-container {
    margin-top: 15px;
  }

  .faq-icon {
    position: relative;
    top: 50%;
    transform: translateY(-30%);
    width: 25px !important;
    margin-right: 15px;
    width: 40px;
  }

  .pikepyetje-container h1 {
    display: unset !important;
    position: relative;
    top: 50%;
    transform: translateY(10%);
    font-size: 40px;
  }
  .pikepyetje-container h1 span{
    font-size: 40px !important;
  }

  .under-header .right-text {
    font-family: "Roboto Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 38px;
    letter-spacing: -0.03em;
    color: #1B2559;
    width: 100%;
  }

  .questions {
    width: 100%;
  }

  .questions div.active {
    border: 1px solid #0091BE;
    box-sizing: border-box;
    box-shadow: 0px 12px 23px rgba(0, 145, 190, 0.06);
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 20px;
    margin-bottom: 20px;
    background-color: #fff;
  }

  .questions div {
    padding-left: 20px;
  }

  .questions div:hover {
    cursor: pointer;
  }

  .questions div p {
    width: 100%;
    font-family: "Roboto Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 19px !important;
    line-height: 50px;
    letter-spacing: -0.03em;
    color: #1b2559;
  }

  .questions div p span {
    color: #5088C7;
  }

  .answer div {
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(176, 183, 195, 0.1);
    border-radius: 5px;
    padding: 30px 20px 20px 30px;
    width: 100%;
  }

  .answer h2 {
    font-family: "Roboto Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 25px !important;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #1B2559;
  }

  .answer h2 span {
    color: #5088C7;
  }

  .answer p {
    width: 100%;
    padding-top: 20px;
    font-family: "Roboto Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 19px !important;
    line-height: 55px;
    letter-spacing: -0.03em;
    color: #1B2559 !important;
    opacity: 0.8;
    padding-right: 30px;
  }

  .answer p span {
    display: block;
    color: #0060ad;
  }

}